<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TableProcessorWebApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="SmartGroup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings>
    <add name="AddressModel2Entities" connectionString="metadata=res://*/AddressesModel2.csdl|res://*/AddressesModel2.ssdl|res://*/AddressesModel2.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WEBIIS\sqlexpress;Initial Catalog=KLADRDB;Persist Security Info=false;User ID=addressesadmin;Password=Address2014;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="Off" >
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpRuntime executionTimeout="240"
     maxRequestLength="20000"
     useFullyQualifiedRedirectUrl="false"
     minFreeThreads="8"
     minLocalRequestFreeThreads="4"
     appRequestQueueLimit="100"/>
   
	  <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	  <httpHandlers>
		  <add verb="*" path="*.json" type="TableProcessorWebApp.HandlerProgress"/>
      <add verb="GET" path="Download.ashx" type="TableProcessorWebApp.Download, TableProcessorWebApp" />
	  </httpHandlers>  
	  
  </system.web>
  <applicationSettings>
    <TableProcessorWebApp.Properties.Settings>
      <setting name="Modules" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>RussianpostSendingsStatus.dll</string>
            <string>CharectersConverter.dll</string>
            <string>GroupCounter.dll</string>
            <string>KladrImporter.dll</string>
            <string>SmartGroup.dll</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DownloadFileNameParamName" serializeAs="String">
        <value>fn</value>
      </setting>
      <setting name="DownloadExtentionParamName" serializeAs="String">
        <value>ex</value>
      </setting>
      <setting name="DownloadFileAliasNameParamName" serializeAs="String">
        <value>fnla</value>
      </setting>
    </TableProcessorWebApp.Properties.Settings>
	<SmartGroup.Properties.Settings>
	 <setting name="MassLimit" serializeAs="String">
		<value>5500</value>
	 </setting>
    </SmartGroup.Properties.Settings>
  </applicationSettings>
</configuration>