<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ImportCalendarsFromEnrico.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ImportCalendarsFromEnrico.Properties.Settings>
      <setting name="ImportCalendarsFromEnrico_com_kayaposoft_Calendars_enrico" serializeAs="String">
        <value>http://kayaposoft.com/enrico/ws/v1.0/index.php</value>
      </setting>
    </ImportCalendarsFromEnrico.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="ERPEntities" connectionString="metadata=res://*/eServiceMasterModel.csdl|res://*/eServiceMasterModel.ssdl|res://*/eServiceMasterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=webiis\sqlexpress;initial catalog=ERP;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>