<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CharectersConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CharectersConverter.Properties.Settings>
            <setting name="ConvertPairs" serializeAs="String">
                <value>
                    &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
                        &lt;string&gt;сc&lt;/string&gt;
                        &lt;string&gt;аa&lt;/string&gt;
                        &lt;string&gt;бb&lt;/string&gt;
                        &lt;string&gt;тt&lt;/string&gt;
                        &lt;string&gt;оo&lt;/string&gt;
                        &lt;string&gt;уy&lt;/string&gt;
                        &lt;string&gt;рp&lt;/string&gt;
                        &lt;string&gt;гr&lt;/string&gt;
                    &lt;/ArrayOfString&gt;
                </value>
            </setting>
        </CharectersConverter.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
