<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RussianpostSendingsStatus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RussianpostSendingsStatus.Properties.Settings>
            <setting name="RussianpostSendingsStatus_RussianpostVOH12_OperationHistory12"
                serializeAs="String">
                <value>http://voh.russianpost.ru:8080/niips-operationhistory-web/OperationHistory12</value>
            </setting>
        </RussianpostSendingsStatus.Properties.Settings>
    </applicationSettings>
</configuration>