<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TableProcessorApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SmartGroup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>    
        </sectionGroup>
    </configSections>
    <connectionStrings>
    <add name="AddressModel2Entities" connectionString="metadata=res://*/AddressesModel2.csdl|res://*/AddressesModel2.ssdl|res://*/AddressesModel2.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WEBIIS\sqlexpress;Initial Catalog=KLADRDB;Persist Security Info=false;User ID=addressesadmin;Password=Address2014;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <userSettings>
        <TableProcessorApp.Properties.Settings>
            <setting name="InputDB" serializeAs="String">
                <value>f:\TableProcessor\GroupCounter\tests\testdata1.xls</value>
            </setting>
        </TableProcessorApp.Properties.Settings>
        <SmartGroup.Properties.Settings>
            <setting name="MassLimit" serializeAs="String">
                <value>5500</value>
            </setting>
        </SmartGroup.Properties.Settings>        
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
